/**

  Use animations here. Useful resources on http://docs.codacloud.net

**/


.head {
  animation-name: lefthandTrans;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;

}

.body {
  animation-name: lefthandTrans;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;}

.left.hand {
  animation-name: lefthandTrans;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;
}

@keyframes lefthandTrans {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-100px);
  }
}


.right.hand {      
  animation-name: lefthandTrans, righthandHi;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;
}

@keyframes righthandHi {
  from {
    transform: rotate(0);
  }

  50% {
    transform: rotate(160deg);
  }
}

.left.foot {
  animation-name: righthandHi;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;

}

.right.foot {
  animation-name: righthandHi;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 100% 0;

}
